<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teste - Mttechne</title>
  <link rel="stylesheet" href="styles/libs/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/libs/devices.min.css">
  <link rel="stylesheet" href="styles/desenvolvedor/custom.css">

  <!--Angulare -->
  <script src="scripts/libs/angular/angular.min.js"></script>
  <script src="scripts/libs/angular/angular-route.min.js"></script>
</head>

<body ng-app="controllerApp">
  <div class="containnerCustom">

    <!-- MENU SUPERIOr-->
    <div class="menuSuperior bg_01">
      <nav class=" containnerAling bg-01">
        <div class="MenuLeft" ng-controller="navegarApp">
          <ul>
            <li>
              <a ng-click="submit('/')">MTtechne</a>
            </li>
          </ul>
        </div>
        <div class="MenuRight dropdown" ng-controller="navegarApp">
          <ul class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <li>
              <span class="glyphicon glyphicon-user" id="login" ng-click="submit('login')"> Login </span>
            </li>
          </ul>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownLogout">
            <li class="dropdown-item">
              <span class=" glyphicon glyphicon-log-out" id="logout" ng-click="submit('logout')"> Logout </span>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!--END MENU SUPERIOR-->

    <div ng-view></div>
  </div>
  <footer>
    <p>&copy; 2018 - Josuel A. Lopes</p>
  </footer>
</body>

<script src="scripts/libs/jquery/jquery-3.2.1.min.js"></script>
<script src="styles/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="scripts/desenvolvedor/controllerAngular.js"></script>

</html>