<!--VIEW HOME-->
<div class="containnerAling" ng-controller="navegarApp">
  <h1>Teste Developer - MTtechne</h1>
  <hr>
  <!--  <div class="menuSuperiorAling">-->
  <h2>Comentário</h1>
    <div class="img">
      <img src="img/thumb-1920-589553.png">
    </div>
    <div class="table-responsive">
      <table>
        <tr>
          <td width="90%">Este é seu comentário sobre imagem</td>
          <td width="10%">
            <!-- <span ng-click="submit('edit')">Editar</span>-->
            <a href="#">Editar</a>
          </td>
          <td width="10%">
            <a href="#">Excluir</a>
          </td>
        </tr>
      </table>
    </div>

    <textarea name="" id="" wrap="hard" placeholder="Digite aqui seu comentário sobre imagem"></textarea>
    <br>
    <button type="submit">Comentar</button>
</div>