<!--VIEW HOME-->
<div class="containnerAling" ng-controller="navegarApp">
  <h1>Teste Developer - MTtechne</h1>
  <hr />
  <!--  <div class="menuSuperiorAling">-->
  <h2>Comentário</h1>
    <div class="img">
      <img src="img/thumb-1920-589553.png">
    </div>

    <div class="table-responsive" ng-controller="listComentario as vm">
      <table class="table table-striped">
        <tbody id="tabComentarios">
          <tr id="tbExemplo">
            <td width="20%">Este é um comentário sobre imagem</td>
            <td width="2%">
              <a href="#">
                <span class="glyphicon glyphicon-edit"></span>
              </a>
            </td>
            <td width="2%">
              <a href="#">
                <span class="glyphicon glyphicon-trash"></span>
              </a>
            </td>
          </tr>
          <tr ng-repeat="team in vm.teams">
            <td width="20%">{{team.coment_user}}</td>
            <td width="2%">
              <a href="#!/editComent/{{team.id}}" >
                <span class="glyphicon glyphicon-edit iconEdit"></span>
              </a>
            </td>
            <td width="2%">
              <a ng-href="#!/deleteComent/{{team.id}}">
                <span class="glyphicon glyphicon-trash iconExcluir"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <form id="divComentario">
      <textarea name="TextComentario" id="txtComentario" wrap="hard" placeholder="Digite aqui seu comentário sobre imagem"></textarea>
      <button name="enviarComentario" id="enviarComentario" ng-click="submit('comentario')">Comentar</button>
      <button name="salvarComentario" id="salvarComentario" ng-click="submit('updateComent')">Salvar</button>
    </form>
</div>