<!--VIEW LOGIN-->
<div ng-controller="navegarApp">
  <link rel="stylesheet" href="styles/desenvolvedor/customLogin.css">

  <div id="login-box">

    <div id="login-box-interna">

      <div id="login-box-label">Login</div>

      <div class="input-div">
        <input type="text" id="input-usuario" placeholder="Usuário ou e-mail">
      </div>

      <div class="input-div">
        <input type="password" id="input-senha" placeholder="password">
      </div>

      <div id="button-div" ng-controller="navegarApp">
        <div id="button-login" ng-click="submit('login')">Login</div>
        <div id="lembrar-senha">
          <input type="checkbox">Lembrar senha
        </div>
      </div>

    </div>
  </div>
  <script src="scripts/desenvolvedor/login.js"></script>
</div>