*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.bg_01{
  background: #007395;
}
.containner{
 width: 100%;
}
.menuSuperior{
display: inline-box;
}

.containnerAling{
  width: 70%;
  height: 50px;
  padding-left: 15%;
}

ul {
list-style-type: none;
display: inline-flex;
padding: 1%;
}

ul li a {
  text-decoration: none;
}

a {
  color: #cecece;
}

.MenuLeft{
  float: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
  
}

.MenuRight{
  float: right;
  padding: 1.5%;
}

.MenuRight ul li span{
  color: #cecece;
  cursor: pointer /* mudar ponteiro do mouse - cursor */
}

h1{
  text-align: center;
  padding: 2.5%;
  color: #cecece;
}

h2{
  text-align: center;
  padding: 2.5%;
  color: #007395;
}

.img img{
  width: 40vw;
  height: 40vh;
  margin: auto 15vw; /* alinhar div */
  border-radius: .5rem;
}

table{
  margin: 2.5% 10%;
  padding: 1%;
  background:  #11a6d4; 
  color: #cecece;
  border-radius: .5rem; 
  
  width: 82%;
  max-width: 82%;
}

textarea{
  border-radius: .5rem;
  
  margin-left: 10%;
  width: 80%;
  max-width: 80%;
  max-height: 40%;
  padding: 1%;
}

button{
/*
  padding: 1%;
  width: 25%;
  float: right;
  margin-top: 2.5%;
  margin-right: 12%;
  border-radius: .5rem;
  border: none;
  background: #007395;
  color: #cecece;
*/

  float: right;
  margin-top: 2.5%;
  padding: 10px 55px;
  margin-right: 8%;
  font: bold 12px sans-serif;
  border-radius: .5rem;
  text-shadow: 0 2px 0 white;
  border: 1px solid #9eb9c3;

 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf6f9+0,cde5ee+100 */
    background: #edf6f9; /* Old browsers */
    background: -moz-linear-gradient(top, #edf6f9 0%, #cde5ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #edf6f9 0%,#cde5ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #edf6f9 0%,#cde5ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf6f9', endColorstr='#cde5ee',GradientType=0 ); /* IE6-9 */

 color: #527988;
 box-shadow: 0 0 10px #c9c9c9;

}

button:hover {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cde5ee+0,edf6f9+100 */
    background: #cde5ee; /* Old browsers */
    background: -moz-linear-gradient(top, #cde5ee 0%, #edf6f9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cde5ee 0%,#edf6f9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cde5ee 0%,#edf6f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cde5ee', endColorstr='#edf6f9',GradientType=0 ); /* IE6-9 */

    cursor: pointer /* mudar ponteiro do mouse - cursor */
}

footer{
  position: absolute;
  padding: .7%;
  bottom: 0;
  right: 0;
  left: 0;
}

footer p {
  color: #cecece;
  text-align: center;
}